/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* @media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    } */

body{
    background-color: #eee;
}
#header-img{
    width: 20rem;
    float: left;
}
#nav-bar{
    float: right;
    /* position: fixed; */
}
#header{
    padding-top: 20px;
    width: 100%;
    position: fixed;
    background-color: #eee;
}
#form{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
#main{
    padding-top: 100px;
    text-align: center;
}

.icon i{
    float: right;
    font-size: 40px;
}

#features{
    margin-top: 60px;
    padding: 30px;
}

iframe{
    max-width: 560px;
    width: 100%;
}

#howitworks{
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

/* .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

} */
/* 
.flex-container>div{
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    width: 100px;

} */

.abc{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    width: 23%;
    margin: 15px;
    /* list-style-type:none; */

}
.abc>div{
    background-color: #ddd;
    padding: 8px;
    font-weight:500;
    
}

.abc>button{
    margin: 15px;
    background-color: #f1c40f;
    color: black;
    border: none;
    text-align: center;
}
.abc>h4{
    margin: 10px;
    text-align: center;
}
.abc>li{
    text-align: center;
}

footer{
    text-align: center;
    background-color: #ddd;
    padding: 15px;
}